/* Write your code here. */
.thumbnail-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.thumbnail-image {
  width: 60px;
  height: 60px;
  opacity: 0.5;
  border-radius: 8px;
}

.active-thumb {
  opacity: 1;
  border: 2px solid #ffffff;
}
